.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    
    padding-top: 1px ; /*убирает косяки с верхней границе, но я не заметил, так что в последствии можно убрать. */
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    
    
    /* parameters for the header section */
}
.content {
    margin-top:100px;
    
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
    height: 568px;
    width: 568px;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}
.logo {
    
    height: 31px;
    width: 154px;
    
}
.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
}
.header_title {
    width: 730px;
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
    justify-self: center;
}
.subtitle {
    position: absolute;
    line-height: 25px;
    font-size: 18px;
    bottom: 30px;
    left: 64px;
    width: 388px;
}
.main-illustration {
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 765px;
    height: 608px;
    z-index: 1;
}
.square-pic {
    width: 568px;
    height: 568px;
    background-color: #2F80ED;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 0;

}
.link {
    text-decoration: none;
}
.description {
    display: flex;
    justify-content: center;
    
}
.description__two-columns {
    display: flex;
    justify-content: space-between;
    width: 80%;

}
.description__main-text {
    width: 80%;
    min-width: 784px;
}

.brief {
    width: 175px;
    line-height: 1,2px;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
    
    
    
}
.paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-top: 30px;
    
}
.span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}
.digits {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.section-title {
    width: 60%;
    margin-bottom: 20px;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    
}
.section-subtitle {
    width: 60%;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;

   
}
.table {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.table__cell {
    width: 250px;
    margin-top: 60px;
    list-style-type: none;
}
.cell__heading {
    line-height: 1,15px;
    font-size: 24px;
    font-weight: bold;
}
.cell__text {
    margin-top: 20px;
    line-height: 1,2px;
    font-size: 18px;
    font-weight: normal;
}
.text__signature {
    margin-top: 20px;
}
.feynman {
    background-color: #f2f2f2;
    position: relative;
    height: 790px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.feynman__img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 867px;
    height: 637px;
    z-index: 0;
}
.feynman__title {
    position: absolute;
    z-index: 1;
    width: 775px;
    line-height: 1,15px;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    top: 70px;
}
.feynman__subtitle {
    margin-top: 70px;
    position: absolute;
    z-index: 4;
    text-align: left;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    
}
.feynman__link {
    position: absolute;
    right: 48px;
    top: 395px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;

}
.kaufman {
    background-color: #1F1F1F ;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
}
.table_theme_dark {
    width: 1300px;
    display: flex;
    margin-bottom: 90px;
    z-index: 2;
    
}
.table__cell-theme_dark {
    width: 200px;
    margin-top: 80px;
    
    
}
.triangle {
    position: absolute;
    width: 877px;
    height: 877px;
    top: 0;
    right: -210px;
    z-index: 0;

}
.cell__heading_theme_dark {
    line-height: 1,15px;
    font-size: 24px;
    font-weight: bold;
}
.cell__text_theme_dark {
    line-height: 1,2px;
    font-size: 18px;
    font-weight: normal;
}
.section-title_theme_dark {
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-top: 90px;
}
.section-subtitle_theme_dark {
    line-height: 34px;
    font-size: 24px;
    margin-top: 20px;
    font-weight: normal;
    color: white;
}
.footer {
    background-color: #1F1F1F;
    padding-top: 1px;
    min-height: 350px;
    display: flex;
    justify-content: space-around;
    
}
.footer__columns {
    position: relative;
    justify-content: space-between;
    margin-top: 60px;
    min-width: 90%;
    display: flex;
    margin-bottom: 40px;
}

.footer__column_content_copyright {
    flex-basis: 711px;
    position: relative;
    
}
.logo_place_footer {
    position: absolute;
    width: 183px;
    height: 35px;
    top: 0;
    left: 0;

}
.footer__author {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    line-height: 25px;
    font-size:  18px;
    font-weight: normal;
    margin: 18px 0;
}
.footer__column_content_info {
    display: flex;
    flex-direction: column;
}
.footer__column-heading {
    line-height: 45px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    top: 0;
    left: 0;
    margin-bottom: 20px;
}
.footer__column-links {
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
.footer__social-icon {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}
.footer__column-links_position_bottom {
    margin-bottom: 16px;
}
.footer__column_content_social {
    display: flex;
    flex-direction: column;
}

