.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    position: relative;
    padding-top: 1px ; /*убирает косяки с верхней границе, но я не заметил, так что в последствии можно убрать. */
    display: flex;
    flex-direction: column;
    
    
    /* parameters for the header section */
}
.content {
    margin-top:100px;
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
    height: 568px;
    width: 568px;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}
.logo {
    height: 31px;
    width: 154px;
    
}
.header__logo {
    margin-left: 64px;
    margin-top: 30px;
}
.header_title {
    width: 730px;
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
}
.subtitle {
    position: absolute;
    line-height: 25px;
    font-size: 18px;
    bottom: 30px;
    left: 64px;
    width: 388px;
}
.main-illustration {
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 765px;
    height: 608px;
    z-index: 1;
}
.square-pic {
    width: 568px;
    height: 568px;
    background-color: #2F80ED;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 0;

}
.link {
    text-decoration: none;
}
.header-left {
    
    
}